<!DOCTYPE html>
<html>
	<!--
	Port of HTML template from the original the-doctor-is-in
	-->
	<%# TEST VALUES OF ERB %>
	<%
		refresh = false
		users = $user_db
		
#		user = {}
#		user['@name'] = "bob"
#		user['@location'] = :unknown
#		user['@gravatar'] = "http://localhost:4567/static/ico/apple-touch-icon-144-precomposed.png"
#		user['@visable'] = true
#		users.push user
	%>
	<%# END TEST %>
	<head>
		<meta charset="utf-8" />
		<title>Doctor Ruby is in</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<% if refresh then %>
			<meta http-equiv="refresh" content="<%= refresh %>" />
		<% end %>

		<%# TODO: Add style sheets to static %>
		<link href="static/css/bootstrap.css" rel="stylesheet" />
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="static/css/site.css" rel="stylesheet" />

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png"/>
		<link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png"/>
		<link rel="shortcut icon" href="static/ico/favicon.png"/>

	</head>

	<body>
		
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">The Doctor is In</a>
				</div>
			</div>
		</div>


		<div class="container">

							<%# TODO: Things and stuff %>
							<%# users.each do |user| %>
			<div class="row">
					
				<% $user_db.each do |user| %>
					<% unless user['@visible'] == 'false' then %>
						<div class="centered span4">
							
							<h5><%= user['@name'] %></h5>
							<img class='gravatar' src="<%= generate_gravatar(user['@email']) %>"></img>

							<% if user['@location'] == 'unknown' then %>
								<p>We're not sure where <%= user['@name'] %> is... </p>
							<% else %>
								<p>
									<strong>
										<%= user['@name'] %>
									</strong>
									checked in at
									<strong>
										<%= user['@location'] %>
									</strong>
									.
								</p>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div> <!-- class="row" -->
		</div> <!-- class="container" -->




<!--
{% if in_data %}
{% call render_section(in_data) %}
<div class="row">
<div class="span3 push1">
<h3>The doctor is in..</h3>
</div>
</div>
{% endcall %}
<hr>
{% endif %}

{% if out_data %}
{% call render_section(out_data) %}
<div class="row">
<div class="span3 push1">
<h3>The doctor is out..</h3>
</div>
</div>
{% endcall %}
{% endif %}
-->
<hr>

<footer>
<p>&copy; Aaron Herting. Port of code &copy; Ralph Bean &amp; contributors, 2013</p>
<p>This website is free software.  You can find
the source
<a href="https://github.com/qwertos/Doctor-Ruby">here</a>. You can find the original source 
<a href="https://github.com/paulmezz/the-doctor-is-in">here</a>.</p>
</footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap-transition.js"></script>
<script src="static/js/bootstrap-alert.js"></script>
<script src="static/js/bootstrap-modal.js"></script>
<script src="static/js/bootstrap-dropdown.js"></script>
<script src="static/js/bootstrap-scrollspy.js"></script>
<script src="static/js/bootstrap-tab.js"></script>
<script src="static/js/bootstrap-tooltip.js"></script>
<script src="static/js/bootstrap-popover.js"></script>
<script src="static/js/bootstrap-button.js"></script>
<script src="static/js/bootstrap-collapse.js"></script>
<script src="static/js/bootstrap-carousel.js"></script>
<script src="static/js/bootstrap-typeahead.js"></script>

</body>
</html>





